:root {
    --c-black: #1E1D1F;
    --c-white: #FCF8EC;
    --c-purple: #683C9B;
    --main-font: "Onest", serif;
    --mono-font: "JetBrains Mono", serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--c-black);
    color: var(--c-white);
    font-family: var(--main-font);
    font-weight: 200;
    line-height: 1.5;
}

a {
    color: var(--c-white);
    text-decoration: none;
}

h1 {
    font-family: var(--mono-font);
    font-weight: lighter;
}
h2 {
    font-family: var(--mono-font);
    font-weight: 500;
    text-transform: uppercase;
    font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
    width: 100%;
    display: flex;
    align-items: center;
    margin-block-end: 3rem;
}
h2::before {
    content: '';
    display: inline-block;
    width: clamp(2rem, 2vw + 1rem, 5rem);
    height: 1px;
    margin-inline-end: clamp(0.5rem, 1vw + 0.25rem, 1rem);
    background-color: var(--c-white);
}
h2 i {
    margin-inline-start: auto;
    display: inline-block;
}
strong {
    font-weight: 600;
}

.container {
    padding: 0 clamp(20px, 6vw, 140px);
    max-width: 1440px;
    margin-inline: auto;
}

.tag {
    font-family: var(--mono-font);
    color: var(--c-black);
    background-color: var(--c-white);
    text-transform: uppercase;
    width: fit-content;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    font-size: 14px;
    font-weight: 500;
}
.tag--big {
    background-color: var(--c-purple);
    color: var(--c-white);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
@media (max-width: 992px) {
    .tag--big {
        font-size: 14px;
        padding: 0.4rem 0.8rem 0.2rem 0.8rem;
    }
}

.link {
    font-size: clamp(1rem, 2vw + 0.5rem, 1.25rem);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    line-height: 1;
    position: relative;
    width: fit-content;
}
.link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    display: block;
    border-block-end: 1px solid var(--c-white);
    width: 100%;
    transition: width .3s ease;
}
.link::after {
    content: url(../assets/arrow.svg);
    position: relative;
    bottom: 2px;
    transition: margin .3s ease;
}
.link:hover::after {
    margin-inline-start: 1rem;
}

.button {
    position: relative;
}
.button::before {
    content: '';
    width: 102%;
    height: 101%;
    display: block;
    position: absolute;
    border: var(--c-white) 1px solid;
    border-radius: 5px;
    z-index: -2;
    top: 0;
    left: -2px;
    opacity: 0;
    transition: .3s ease all;
}
.button a, .button span {
    background-color: var(--c-purple);
    color: var(--c-white);
    font-size: clamp(1rem, 2vw + 0.5rem, 1.25rem);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    transition: .3s ease transform;
}
.button a i, .button span i {
    margin-inline-end: 8px;
    display: inline-block;
}
.button a::after, .button span::after {
    content: url(../assets/arrow.svg);
    position: relative;
    margin-inline-start: 0.5rem;
    transition: margin .3s ease;
}
.button:hover a, .button:hover span {
    transform: rotate(-3deg);
}
.button:nth-of-type(odd):hover a, .button:nth-of-type(odd):hover span {
    transform: rotate(3deg);
}
.button:hover::before {
    opacity: 1;
}


nav {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--c-black);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: clamp(32px, 2vw + 16px, 60px);
    border-block-end: 1px var(--c-white) solid;
    font-size: clamp(1rem, 2vw + 0.5rem, 1.25rem);
    padding-block: clamp(16px, 2vw + 8px, 24px);
    text-align: center;
}

nav ul li a::after {
    content: '';
    display: block;
    border-block-end: 1px solid var(--c-white);
    width: 0%;
    transition: width .3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}
