:root {
    --c-black: #1E1D1F;
    --c-white: #FCF8EC;
    --c-purple: #683C9B;
    --main-font: "Onest", serif;
    --mono-font: "JetBrains Mono", serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--c-black);
    color: var(--c-white);
    font-family: var(--main-font);
    font-weight: 200;
    line-height: 1.5;
}

a {
    color: var(--c-white);
    text-decoration: none;
}

h1 {
    font-family: var(--mono-font);
    font-weight: lighter;
}
h2 {
    font-family: var(--mono-font);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-block-end: 3rem;
}
h2::before {
    content: '';
    display: inline-block;
    width: 5rem;
    height: 1px;
    margin-inline-end: 1rem;
    background-color: var(--c-white);
}
h2 i {
    margin-inline-start: auto;
    display: inline-block;
}
strong {
    font-weight: 600;
}

.container {
    padding: 0 clamp(20px, 6vw, 140px);
    max-width: 1440px;
    margin-inline: auto;
}

.tag {
    font-family: var(--mono-font);
    color: var(--c-black);
    background-color: var(--c-white);
    text-transform: uppercase;
    width: fit-content;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    font-size: 14px;
    font-weight: 500;
}
.tag--big {
    background-color: var(--c-purple);
    color: var(--c-white);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.link {
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    line-height: 1;
    position: relative;
    width: fit-content;
}
.link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    display: block;
    border-block-end: 1px solid var(--c-white);
    width: 100%;
    transition: width .3s ease;
}
.link::after {
    content: url(../assets/arrow.svg);
    position: relative;
    bottom: 2px;
    transition: margin .3s ease;
}
.link:hover::after {
    margin-inline-start: 1rem;
}

.button {
    position: relative;
}
.button::before {
    content: '';
    width: 102%;
    height: 101%;
    display: block;
    position: absolute;
    border: var(--c-white) 1px solid;
    border-radius: 5px;
    z-index: -2;
    top: 0;
    left: -2px;
    opacity: 0;
    transition: .3s ease all;
}
.button a, .button span {
    background-color: var(--c-purple);
    color: var(--c-white);
    font-size: 20px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    transition: .3s ease transform;
}
.button a i, .button span i {
    margin-inline-end: 8px;
    display: inline-block;
}
.button a::after, .button span::after {
    content: url(../assets/arrow.svg);
    position: relative;
    margin-inline-start: 0.5rem;
    transition: margin .3s ease;
}
.button:hover a, .button:hover span {
    transform: rotate(-3deg);
}
.button:nth-of-type(odd):hover a, .button:nth-of-type(odd):hover span {
    transform: rotate(3deg);
}
.button:hover::before {
    opacity: 1;
}


nav {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--c-black);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 60px;
    padding-block: 24px;
    border-block-end: 1px var(--c-white) solid;
    font-size: 1.25rem;
}

nav ul li a::after {
    content: '';
    display: block;
    border-block-end: 1px solid var(--c-white);
    width: 0%;
    transition: width .3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}


.header {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
    padding-block: 100px;
}
.header__content {
    grid-column: 1 / span 2;
    padding-inline-end: 20%;
}
.header__content h1 {
    font-size: 80px;
    margin-block-end: 1rem;
}
.header__content p {
    margin-block-end: 1.5rem;
}
.header__img {
    background-color: var(--c-purple);
}
.header__img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    border: 1px solid var(--c-white);
    transform: rotate(-5deg);
}




#about, #projects, #contact {
    scroll-margin-block-start: 25px;
}


.projects {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 32px;
    margin-block-end: 200px;
    position: relative;
}

.projects::before {
    content: '';
    background-color: var(--c-purple);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(-2deg);
}

.project {
    border-radius: 5px;
    border: 1px solid var(--c-white);
    padding: 24px;
    background-color: var(--c-black);
}

.project__preview {
    position: relative;
    z-index: 0;
}

.project__img {
    overflow: hidden;
}
.project__img img {
    width: 100%;
    aspect-ratio: 330/260;
    object-fit: cover;
    object-position: center;
    transition: all .3s ease;
}
.project:hover .project__img img{
    filter: blur(8px);
    transform: scale(1.05);
}

.project__tags {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px;
    z-index: 1;
}
.project__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    opacity: 0;
    transition: .3s ease all;
}

.project:hover .project__button {
    opacity: 1;
}
.project:hover .button span {
    transform: rotate(-3deg);
}
.project:nth-of-type(odd):hover .button span {
    transform: rotate(3deg);
}
.project:hover .button::before {
    opacity: 1;
}

.project__title {
    font-size: 20px;
    margin-block-start: 12px;
}


.about {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding-block-end: 175px;
}
.about__desc {
    grid-column: 1 / span 2;
    padding-inline-end: 20%;
}
.about__skills {
    padding: 24px;
    border: 1px solid var(--c-white);
    border-radius: 5px;
    position: relative;
    background-color: var(--c-black);
}
.about__skills::after {
    content: '';
    background-color: var(--c-purple);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(4deg);
    z-index: -1;
}
.about__skill {
    margin-block-end: 0.5rem;
}

.contact {
    display: flex;
    gap: 70px;
    flex-direction: column;
    margin-block-end: 200px;
}
.contact__line1, .contact__line2 {
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-inline: auto;
    width: fit-content;
}
