.header {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
}
@media (max-width: 668px) {
    .header {
        grid-template-columns: 100%;
        gap: 4rem;
        place-items: center;
    }
}
@media (max-width: 500px) {
    .header {
        place-items: center;
    }
}
.header__content {
    grid-column: 1 / span 2;
    padding-inline-end: 20%;
}
@media (max-width: 992px) {
    .header__content {
        padding-inline-end: 5%;
    }
}
@media (max-width: 668px) {
    .header__content {
        padding: 0;
        grid-column: 1 / 2;
    }
}

.header__content h1 {
    font-size: clamp(1.75rem, 2.25vw + 1.25rem, 3.75rem);
    margin-block-end: 1rem;
}

.header__content p {
    margin-block-end: 1.5rem;
}

.header__img {
    background-color: var(--c-accent);
    aspect-ratio: 1 / 1;
    max-height: 20rem;
}

.header__img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    border: 1px solid var(--c-fg);
    transform: rotate(-5deg);
}
@media (max-width: 1200px) {
    .header .tag {
        margin-block-end: 0.5rem;
    }
}


.header,
#about,
#projects,
#contact {
    scroll-margin-block-start: clamp(6rem, 5vw + 5rem, 12.5rem);
    margin-block: clamp(8rem, 5vw + 5rem, 12.5rem);
}
.header {
    margin-block: clamp(4rem, 2.5vw + 2.5rem, 6.25rem);
}
#contact {
    margin-block-end: clamp(4rem, 2.5vw + 2.5rem, 6.25rem);
}



.projects {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 32px;
    position: relative;
}

.projects::before {
    content: '';
    background-color: var(--c-accent);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(-2deg);
}
@media (max-width: 768px) {
    .projects::before {
        width: calc(100% - 100px);
        top: 50%;
        left: 50%;
        transform: rotate(-2.5deg) translate(-50%, -50%);
    }
}

.projects__group-title {
    display: flex;
    align-items: center;
    font-family: var(--mono-font);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: clamp(1.1rem, 1.2vw + 0.75rem, 1.5rem);
    color: var(--c-fg);
    margin-block: 9rem 1.5rem;
}
.projects__group-title:first-of-type {
    margin-block-start: 0;
}
.projects__group-title::before {
    content: '';
    display: inline-block;
    width: clamp(1.5rem, 1.5vw + 1rem, 3rem);
    height: 1px;
    margin-inline-end: 0.75rem;
    background-color: var(--c-fg);
}

@media (max-width: 992px) {
    .projects {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (max-width: 768px) {
    .projects {
        margin-inline: -50px;
    }
}

.project {
    position: relative;
    border-radius: 8px;
    border: 2px solid var(--c-fg);
    padding: 24px;
    background-color: var(--c-bg);
    transition: transform .3s ease;
}
.project:hover {
    transform: scale(1.025);
    z-index: 1;
}
@media (max-width: 768px) {
    .project {
        margin-inline: 0.5rem;
    }
}

.project__preview {
    position: relative;
    z-index: 0;
}

.project__img {
    overflow: hidden;
}

.project__img img {
    width: 100%;
    aspect-ratio: 330/260;
    object-fit: cover;
    object-position: center;
    transition: all .3s ease;
}

.project__tags {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 6px;
    column-gap: 8px;
}

.project__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-block-start: 14px;
}

.project__button {
    flex-shrink: 0;
    opacity: 0;
    transform: translateX(8px);
    transition: .3s ease all;
}
.project__button a, .project__button span {
    display: grid;
    place-items: center;
    width: 42px;
    height: 42px;
    padding: 0;
}
.project__button a i, .project__button span i {
    margin: 0;
    font-size: 1rem;
}
.project__button a::after, .project__button span::after {
    content: none;
}
.project__button::before {
    inset: -2px;
}

.project:hover .project__button {
    opacity: 1;
    transform: translateX(0);
    transition-delay: .1s;
}

.project__title {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.01em;
    margin-block-start: 0;
    transition: color .3s ease;
}
.project:hover .project__title {
    color: var(--c-accent);
}


.about {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
@media (max-width: 1200px) {
    .about {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (max-width: 992px) {
    .about {
        grid-template-columns: 100%;
        gap: 4rem;
    }
}

.about__desc {
    grid-column: 1 / span 2;
    padding-inline-end: 20%;
}
@media (max-width: 1200px) {
    .about__desc {
        grid-column: 1 / 2;
    }
}
@media (max-width: 992px) {
    .about__desc {
        padding: 0;
    }
}

.about__skills {
    padding: 24px;
    border: 1px solid var(--c-fg);
    border-radius: 5px;
    position: relative;
    background-color: var(--c-bg);
}

.about__skills::after {
    content: '';
    background-color: var(--c-accent);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(4deg);
    z-index: -1;
}

.about__skill {
    margin-block-end: 0.5rem;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: clamp(20px, 2vw + 10px, 70px);
    flex-direction: row;
}
.break {
    flex-basis: 100%;
}
.contact .button {
    margin-block-end: clamp(20px, 2vw + 10px, 70px);
}
