<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.author }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Onest:wght@100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/general.css">
    <link rel="stylesheet" href="/assets/css/project.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />
    <script src="/assets/js/theme-init.js"></script>
</head>

<body>

    {% include nav.html back=true prefix="/" %}

    <main class="container">
        <div class="project">
            <div class="project__content">
                <h1 class="project__title">{{ page.title }}</h1>

                {% if page.tags %}
                <div class="project__tags">
                    {% for tag in page.tags %}
                    <div class="tag">{{ tag }}</div>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="project__desc">
                    {% for section in page.sections %}
                    <span class="tag tag--label">{{ section.label }}</span>
                    {% if section.text %}{{ section.text }}{% endif %}
                    {% if section.list %}
                    <ul>
                        {% for item in section.list %}
                        <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endfor %}
                </div>

                {% if page.links %}
                <div class="project__links">
                    {% for link in page.links %}
                    <div class="button">
                        <a href="{{ link.url }}" target="_blank"><i class="{{ link.icon }}"></i>{{ link.text }}</a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            {% if page.images %}
            <div class="project__images">
                {% for image in page.images %}
                <a href="{{ image.href | default: image.src }}" data-fancybox="gallery" class="project__img">
                    <img src="{{ image.src }}" />
                    {% if image.icon %}<i class="{{ image.icon }}"></i>{% endif %}
                </a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </main>

</body>

<script src="https://kit.fontawesome.com/7ab46062e1.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<script src="/assets/js/fancybox-init.js"></script>

<script src="/assets/js/theme-toggle.js"></script>
<script src="/assets/js/button-tilt.js"></script>

</html>
